In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [2]:
data1 = pd.read_csv("https://raw.githubusercontent.com/nursnaaz/25DaysInMachineLearning/master/18%20-%20Day%20-%2018%20-%20Linear%20Regression%20Practise%20Python/Practise/Predict%20Cab%20price.csv")

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   miles   60 non-null     int64
 1   temp    60 non-null     int64
 2   rain    60 non-null     int64
 3   ncabs   60 non-null     int64
 4   price   60 non-null     int64
dtypes: int64(5)
memory usage: 2.5 KB

In [ ]:
# Kaggle link : https://www.kaggle.com/datasets/noordeen/bikeshare-data

In [1]:
import pandas as pd

In [18]:
bike_share = pd.read_csv(r"C:\Users\karthikp\Downloads\Inceptors\Preprocessing files\bike_share.csv")

In [20]:
bike_share[:10]

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,1,0,0,1,13.12,17.425,76,0.0000,8,6,14

In [22]:
bike_share.describe().T

,count,mean,std,min,25%,50%,75%,max
season,10886.0,2.506614,1.116174,1.00,2.0000,3.000,4.0000,4.0000
holiday,10886.0,0.028569,0.166599,0.00,0.0000,0.000,0.0000,1.0000
workingday,10886.0,0.680875,0.466159,0.00,0.0000,1.000,1.0000,1.0000
weather,10886.0,1.418427,0.633839,1.00,1.0000,1.000,2.0000,4.0000
temp,10886.0,20.230860,7.791590,0.82,13.9400,20.500,26.2400,41.0000
atemp,10886.0,23.655084,8.474601,0.76,16.6650,24.240,31.0600,45.4550
humidity,10886.0,61.886460,19.245033,0.00,47.0000,62.000,77.0000,100.0000
windspeed,10886.0,12.799395,8.164537,0.00,7.0015,12.998,16.9979,56.9969
casual,10886.0,36.021955,49.960477,0.00,4.0000,17.000,49.0000,367.0000
registered,10886.0,155.552177,151.039033,0.00,36.0000,118.000,222.0000,886.0000
count,10886.0,191.574132,181.144454,1.00,42.0000,145.000,284.0000,977.0000

In [23]:
bike_share.dtypes

season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [24]:
bike_share.isnull().sum()

season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [11]:
x = data2.drop('count',1)

C:\Users\karthikp\AppData\Local\Temp/ipykernel_2456/1153608326.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x = data2.drop('count',1)

In [12]:
x

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
0,1,0,0,1,9.84,14.395,81,0.0000,3,13
1,1,0,0,1,9.02,13.635,80,0.0000,8,32
2,1,0,0,1,9.02,13.635,80,0.0000,5,27
3,1,0,0,1,9.84,14.395,75,0.0000,3,10
4,1,0,0,1,9.84,14.395,75,0.0000,0,1
...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,7,329
10882,4,0,1,1,14.76,17.425,57,15.0013,10,231
10883,4,0,1,1,13.94,15.910,61,15.0013,4,164
10884,4,0,1,1,13.94,17.425,61,6.0032,12,117
10885,4,0,1,1,13.12,16.665,66,8.9981,4,84

In [14]:
y  = data2.iloc[:, -1]
y

0         16
1         40
2         32
3         13
4          1
        ...
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64

In [37]:
train_x, test_x, train_y, test_y = train_test_split(x,y, test_size = 0.3, random_state = 2)

In [53]:
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((7620, 10), (3266, 10), (7620,), (3266,))

In [41]:
model = LinearRegression()

In [42]:
model.fit(train_x,train_y)

LinearRegression()

In [44]:
model.intercept_

-4.263256414560601e-13

In [46]:
model.coef_

array([-3.99440307e-15,  1.82051450e-13,  1.25411792e-13, -3.32975107e-14,
       -2.04985919e-15, -2.92392581e-15,  4.53392544e-15,  7.15715842e-16,
        1.00000000e+00,  1.00000000e+00])

In [55]:
train_pred = model.predict(train_x)
train_pred

array([ 71., 102., 322., ..., 351.,  21., 107.])

In [62]:
#ypred /
#error = y -  ypred /
#MSE = Mean Square Error /
#summation(error^2)/number of sample

In [57]:
train_mse = mean_squared_error(train_y, train_pred)
train_mse

2.3454976970704317e-26

In [63]:
#MAE = Mean Absolute Error
#summation(|error|)/number of sample

In [65]:
train_mae = mean_absolute_error(train_y,train_pred)
train_mae

1.2053142094785398e-13

In [66]:
#Root mean square error
#sqrt(summation(error)^2/n)

In [69]:
train_rmse = np.sqrt(mean_squared_error(train_y, train_pred))
train_rmse

1.5315017783438686e-13

In [70]:
#Mean Absolute percentage error
#summation((|y-ypred|)/y)/n)*100

In [71]:
train_mape = mean_absolute_percentage_error (train_y, train_pred)
train_mape

6.1424499727889115e-15

In [76]:
test_pred = model.predict(test_x)

In [77]:
test_mse = mean_squared_error(test_y, test_pred)
test_mse

2.399472007901485e-26

In [78]:
test_mae = mean_absolute_error(test_y,test_pred)
test_mae

1.2175278136163614e-13

In [79]:
test_rmse = np.sqrt(mean_squared_error(test_y, test_pred))
test_rmse

1.5490229203925568e-13

In [80]:
test_mape = mean_absolute_percentage_error (test_y, test_pred)
test_mape

5.7533426505454185e-15

In [72]:
train_mse, train_mae, train_rmse, train_mape

(2.3454976970704317e-26,
 1.2053142094785398e-13,
 1.5315017783438686e-13,
 6.1424499727889115e-15)

In [81]:
test_mse, test_mae, test_rmse, test_mape

(2.399472007901485e-26,
 1.2175278136163614e-13,
 1.5490229203925568e-13,
 5.7533426505454185e-15)