In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [7]:
train = pd.read_csv('train_preprocessed.csv')
test = pd.read_csv('test_preprocessed.csv')
sample = pd.read_csv(r"C:\Users\karthikp\Downloads\Inceptors\Preprocessing files\BG_sample_submission_8RXa3c6.csv")

In [8]:
train[:5]

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Age,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,...,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Identifier_Code_DR,Item_Identifier_Code_FD,Item_Identifier_Code_NC,Item_Identifier,Outlet_Identifier,Item_Outlet_Sales
0,-0.751014,-0.969852,1.752511,-0.139681,1,0,0,0,0,0,...,0,1,0,0,0,1,0,FDA15,OUT049,3735.1380
1,-1.477653,-0.907063,-1.493696,-1.334228,0,1,0,0,0,0,...,0,0,1,0,1,0,0,DRC01,OUT018,443.4228
2,1.011839,-0.956000,0.009874,-0.139681,1,0,0,0,0,0,...,0,1,0,0,0,1,0,FDN15,OUT049,2097.2700
3,1.377308,-1.281712,0.661838,-0.020226,0,1,0,0,0,0,...,1,0,0,0,0,1,0,FDX07,OUT010,732.3800
4,-0.830557,-1.281712,-1.403623,1.293777,1,0,0,0,0,0,...,0,1,0,0,0,0,1,NCD19,OUT013,994.7052

In [12]:
x = train.drop(columns = ['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'])
y = train['Item_Outlet_Sales']

In [18]:
x.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Age,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Identifier_Code_DR,Item_Identifier_Code_FD,Item_Identifier_Code_NC
0,-0.751014,-0.969852,1.752511,-0.139681,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
1,-1.477653,-0.907063,-1.493696,-1.334228,0,1,0,0,0,0,...,0,0,1,0,0,1,0,1,0,0
2,1.011839,-0.956000,0.009874,-0.139681,1,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0
3,1.377308,-1.281712,0.661838,-0.020226,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
4,-0.830557,-1.281712,-1.403623,1.293777,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1

In [19]:
y.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [13]:
train_x, test_x, train_y, test_y = train_test_split(x,y, test_size = 0.2, random_state = 32)

In [14]:
model = LinearRegression()

In [15]:
model.fit(train_x,train_y)

LinearRegression()

In [16]:
model.coef_

array([   5.75271882,   -9.06400118,  978.44180126,  104.83640194,
        -21.50936947,   21.50936947,   -1.21192578,    7.01327305,
        -12.18518327,   32.64079544,  -71.54141812,  -35.41305266,
         45.300769  , -102.6258402 ,  -23.93190676,   -3.72115286,
         23.88745941,    1.59030549,  174.71951236,   22.69718909,
       -118.91294474,   61.69412054, -448.89894526,  -85.22291657,
        153.35052056,  -96.40398457, -433.06417595,  605.18243808,
        168.37759603,  -94.36940016,  380.54329798, -149.49443014,
        -85.22291657,  359.28402337, -274.0611068 , -202.01530811,
        227.35871643,  -25.34340832, -881.96312121,  373.1846677 ,
        -96.40398457,  605.18243808,   63.51955699,  -37.45680285,
        -26.06275413])

In [17]:
model.intercept_

2033.7567553589045

In [20]:
train_x_pred = model.predict(train_x)
test_x_pred = model.predict(test_x)

In [21]:
test_pred = model.predict(test.drop(columns = ["Item_Identifier", "Outlet_Identifier"]))

In [22]:
train_x_rmse = np.sqrt(mean_squared_error(train_y, train_x_pred))
test_x_rmse = np.sqrt(mean_squared_error(test_y, test_x_pred))

In [24]:
print(train_x_rmse)
print(test_x_rmse)

1125.0082019161973
1136.8985536117714

In [26]:
train_x_r2 = r2_score(train_y, train_x_pred)
test_x_r2 = r2_score(test_y, test_x_pred)

In [27]:
print(train_x_r2)
print(test_x_r2)

0.5645657806323265
0.5591102241855597