In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [11]:
def rmsle (y_true, y_pred):
    return 1-np.sqrt(np.square(np.log10(y_pred + 1)-np.log10(y_true+1)).mean())

In [3]:
train = pd.read_csv('book_train_preprocessed.csv')
test = pd.read_csv('book_test_preprocessed.csv')

In [4]:
train

,Publication_Hardcover,Publication_Paperback,Publication_others,BookCategory_Action & Adventure,"BookCategory_Arts, Film & Photography","BookCategory_Biographies, Diaries & True Accounts",BookCategory_Comics & Mangas,"BookCategory_Computing, Internet & Digital Media","BookCategory_Crime, Thriller & Mystery",BookCategory_Humour,"BookCategory_Language, Linguistics & Writing",BookCategory_Politics,BookCategory_Romance,BookCategory_Sports,Reviews,Ratings,Age_of_book,Price
0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,4.0,8,6,220.00
1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,3.9,14,10,202.93
2,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4.8,6,40,299.00
3,0,1,0,0,0,0,0,0,1,0,0,0,0,0,4.1,13,5,180.00
4,1,0,0,0,1,0,0,0,0,0,0,0,0,0,5.0,1,16,965.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232,0,1,0,0,0,0,0,0,0,1,0,0,0,0,5.0,2,4,322.00
6233,0,1,0,0,0,0,0,0,1,0,0,0,0,0,3.3,9,6,421.00
6234,0,1,0,0,0,0,0,0,0,0,0,0,1,0,3.8,3,16,399.00
6235,0,1,0,1,0,0,0,0,0,0,0,0,0,0,3.5,4,7,319.00
6236,0,1,0,1,0,0,0,0,0,0,0,0,0,0,3.9,2,6,452.00

In [5]:
x = train.drop(columns = 'Price')

In [6]:
y = train ['Price']

In [7]:
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size = 0.2, random_state = 32)

In [8]:
model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

In [9]:
train_pred = model.predict(train_x)

In [12]:
rmsle(train_y, train_pred)

C:\Users\karthikp\AppData\Local\Temp/ipykernel_1332/3521714073.py:2: RuntimeWarning: invalid value encountered in log10
  return 1-np.sqrt(np.square(np.log10(y_pred + 1)-np.log10(y_true+1)).mean())

0.6816210546135246

In [13]:
test_pred = model.predict(test_x)

In [14]:
rmsle(test_y, test_pred)

0.6838789418169684

In [15]:
model.fit(x,y)

LinearRegression()

In [16]:
data_pred = model.predict(test)

In [29]:
pd.DataFrame(data_pred,columns=['Price'])

           Price
0     311.819101
1     973.947037
2     427.626412
3     903.079823
4     436.245925
...          ...
1555  997.898557
1556  214.859619
1557  525.038292
1558  222.280216
1559  428.486886

[1560 rows x 1 columns]

In [34]:
def run_model_evaluate(model, train_x, test_x, train_y, test_y, x, y, test, filename):
    #model = LinearRegression()
    model.fit(train_x, train_y)
    train_pred = model.predict(train_x)
    test_pred = model.predict(test_x)
    print('TRAIN RMSLE :',rmsle(train_y, train_pred))
    print('TEST RMSLE :',rmsle(test_y, test_pred))
    model.fit(x,y)
    data_pred = model.predict(test)
    res = pd.DataFrame(data_pred,columns=['Price'])
    res.to_csv(filename, index = False)

In [37]:
book_linear_reg = LinearRegression()
run_model_evaluate(linear_reg, train_x, test_x, train_y, test_y, x, y, test, "book_linear_reg.csv")

TRAIN RMSLE : 0.6816210546135246
TEST RMSLE : 0.6838789418169684

C:\Users\karthikp\AppData\Local\Temp/ipykernel_1332/3521714073.py:2: RuntimeWarning: invalid value encountered in log10
  return 1-np.sqrt(np.square(np.log10(y_pred + 1)-np.log10(y_true+1)).mean())

In [39]:
book_Decision_Tree = DecisionTreeRegressor()
run_model_evaluate(book_Decision_Tree, train_x, test_x, train_y, test_y, x, y, test, "book_Decision_Tree.csv")

TRAIN RMSLE : 0.8937215541871609
TEST RMSLE : 0.6211848815590344

In [40]:
book_Random_forest = RandomForestRegressor()
run_model_evaluate(book_Random_forest, train_x, test_x, train_y, test_y, x, y, test, "book_Random_forest.csv")

TRAIN RMSLE : 0.8279476837380171
TEST RMSLE : 0.6887975642229143