In [34]:
import pandas as pd
import os
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [7]:
df = pd.read_csv(r'C:\Users\karthikp\Downloads\Inceptors\Preprocessing files\spam.tsv',sep='\t', names=['Class','Messages'])

In [38]:
df[:10]

   Class                                           Messages  length
0      0  Ive been searching for the right words to than...     192
1      1  Free entry in 2 a wkly comp to win FA Cup fina...     149
2      0  Nah I dont think he goes to usf he lives aroun...      59
3      0  Even my brother is not like to speak with me T...      75
4      0                  I HAVE A DATE ON SUNDAY WITH WILL      33
5      0  As per your request Melle Melle Oru Minnaminun...     154
6      1  WINNER As a valued network customer you have b...     151
7      1  Had your mobile 11 months or more U R entitled...     152
8      0  Im gonna be home soon and i dont want to talk ...     103
9      1  SIX chances to win CASH From 100 to 20000 poun...     128

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5567 entries, 0 to 5566
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Class     5567 non-null   int64
 1   Messages  5567 non-null   object
 2   length    5567 non-null   int64
dtypes: int64(2), object(1)
memory usage: 130.6+ KB

In [40]:
df.describe()

             Class       length
count  5567.000000  5567.000000
mean      0.134004    76.276451
std       0.340687    57.029233
min       0.000000     1.000000
25%       0.000000    33.000000
50%       0.000000    58.000000
75%       0.000000   116.000000
max       1.000000   888.000000

In [17]:
df['length']=df['Messages'].apply(len)

In [18]:
df[:6]

   Class                                           Messages  length
0      0  Ive been searching for the right words to than...     192
1      1  Free entry in 2 a wkly comp to win FA Cup fina...     149
2      0  Nah I dont think he goes to usf he lives aroun...      59
3      0  Even my brother is not like to speak with me T...      75
4      0                  I HAVE A DATE ON SUNDAY WITH WILL      33
5      0  As per your request Melle Melle Oru Minnaminun...     154

In [41]:
df['length'].describe()

count    5567.000000
mean       76.276451
std        57.029233
min         1.000000
25%        33.000000
50%        58.000000
75%       116.000000
max       888.000000
Name: length, dtype: float64

In [35]:
df[df['length']==910]['Messages'].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [36]:
df[df['length']==910]

     Class                                           Messages  length
1080   ham  For me the love should start with attraction.i...     910

In [10]:
df['Class']=df['Class'].map({'ham':0,'spam':1})

In [14]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
def cleanMessage(message):
    nonPunc = [word for word in message if word not in string.punctuation]
    nonPunc = "".join(nonPunc)
    return nonPunc

In [42]:
df['Messages']=df['Messages'].apply(cleanMessage)
df[:5]

   Class                                           Messages  length
0      0  Ive been searching for the right words to than...     192
1      1  Free entry in 2 a wkly comp to win FA Cup fina...     149
2      0  Nah I dont think he goes to usf he lives aroun...      59
3      0  Even my brother is not like to speak with me T...      75
4      0                  I HAVE A DATE ON SUNDAY WITH WILL      33

In [23]:
cv = CountVectorizer(stop_words = 'english')

In [24]:
x = df['Messages'].values
y = df['Class'].values

In [27]:
x_train, x_train, y_train, y_test = train_test_split (x,y,test_size = 0.2)

In [29]:
x_train_cv = cv.fit_transform(x_train)

In [35]:
NB = GaussianNB()

In [44]:
y_train = y_train.astype('int')

In [46]:
x_train_cv = x_train_cv.todense()

AttributeError: 'matrix' object has no attribute 'todense'